{% extends 'base.html.twig' %}

{% block heading %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'welcome' | trans }} FoodDiary !</h1>
            <p>{{ 'log.in.accessDiary' | trans }}.</p>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block body %}
{% endblock %}